<?xml version='1.0' encoding='utf-8'?>
<plugin id="appInfo" version="0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CDVAppInfo</name><js-module name="CDVAppInfo" src="www/CDVAppInfo.js"><clobbers target="cordova.plugins.CDVAppInfo" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="CDVAppInfo"><param name="ios-package" value="CDVAppInfo" /></feature></config-file><source-file src="src/ios/CDVAppInfo.m" /></platform></plugin>